<div id="biddings">
	<% @bidding.each do | b | %>
		<div class="bidding">
			<h2 class="user">
				<%= link_to b.user.name, b  %>
			</h2>
			<p class="reason">
				<%= b.reason %>
			</p>
			<hr>
		</div>
	<% end %>
</div>