<div id="biddings">
	<% @biddings.each do |bidding| %>
		<div class="bidding">
			<h2 class="user">
				<%= bidding.user.name %>
			</h2>
			<p class="reason">
				<%= bidding.reason %>
			</p>
				<%= link_to 'Seleccionar como ganador', product_bidding_path(bidding.product.id, bidding.id), :method => :put %>
			<hr>
		</div>
	<% end %>
</div>