<div id="biddings">
	<% @biddings.each do |bidding| %>
		<div class="bidding">
			<h2 class="user">
				<%= bidding.user ? bidding.user.name : "Usuario cancelado"%>
			</h2>
			<p class="reason">
				<%= bidding.reason %>
			</p>
				<%= link_to 'Seleccionar como ganador', bidding_path(bidding.id), :method => :put %>
			<hr>
		</div>
	<% end %>
</div>