<div id="biddings">
	<% @biddings.each do |bidding| %>
		<% unless bidding.product.winner  %>
		
		<div class="bidding">
			<%= biding.product.name %><br>
			Subastado por <%= biding.product.user.name %><br>
			Monto ofrecido por tí: <%= biding.amount %><br>

			<%= render 'edit', bidding %><br>
		</div>
		
		<% end %>
	<% end %>
</div>