<div class="inquiry-list">
	<% if current_user %>
	  <% if current_user == @product.user %>
	   <%= render 'inquiries/answer_questions' %>
	  <% else %>
	   <%= render 'inquiries/ask_questions' %>
	  <% end %> 
	<% else %>
   <%= render 'inquiries/see_questions' %>
  <% end %>

</div>