<div class="inquiry-list">

	<% if current_user %>
	  <% if current_user == @product.user %>
	 	<%= "inquiries con input de respuesta - usuario subastador" %>
	  <% else %>
	 	<%= "inquiries con input de pregunta - usuario oferente" %>
	  <% end %> 
	<% else %>
		 <%= "inquiries no editables - usuario invitado"%>
  <% end %>

</div>