<div class="see-questions-list">

		<% @product.inquiries.each do |i| %>
			<hr>
			<div class="inquiry-element">
				<%= i.user.name %> preguntó: <br>
				<%= i.question %> <br>
				<%= "#{@product.user.name} respondió:" if i.answer %><br>
				<%= i.answer %>
			</div>
			<hr>
		<% end %>

</div>