<div class="see-questions-list">

		<% @product.inquiries.each do |i| %>
			<div class="inquiry-element">
				<div class="name-tag">
					<%= i.user ? i.user.name : "Usuario cancelado" %> preguntó: <br>
				</div>
				<%= i.question %> <br>
			</div>
			<div class="inquiry-reply">
				<div class="name-tag">
					<%= "Respuesta:" if i.answer %><br>
				</div>
				<%= i.answer %>
			</div>
		<hr>
		<% end %>
</div>