<h1>Total de elementos encontrados: <%= @biddings.size %></h1>
<% @biddings.each do | bidding | %>
	
	<%= link_to (image_tag bidding.product.image.url), bidding.product %>
	<p>
		<%= link_to bidding.product.name, bidding.product %>
	</p>
	<p>
		Comisión obtenida: $<%= bidding.amount * 0.3 %>
	</p>
	<br>
<% end %>
