<div class="title" align="center">
	<h2>Mis Subastas</h2>
</div>

<div class="transitions-enabled" id="products">

	<% if @products.any? %>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>  </th>
					<th>Nombre</th>
					<th>Descripcion</th>
					<th>Estado</th>
				</tr>
			</thead>
			<% @products.each do |p| %>
				<tr>
					<td class="table_img"><%= link_to (image_tag p.image.url, { :height => 150, :crop => :fill }), p  %></td>
					<td class="table_name"><%= link_to p.name, p %></td>
					<td class="table_description"><%= p.description %></td>	
					<% if p.state == "active" %>
						<td class="table_state">Subasta activa</td>
					<% else %>
						<td class="table_state">Subasta finalizada</td>
					<% end %>
				</tr>
			<% end %>
		</table>
	<% else %>
		<h2>Usted no tiene subastas creadas.</h2>
	<% end %>

</div>