<h1>Mis Subastas</h1>
<br>
<% if @products.any? %>
	<% @products.each do | p | %>
		<div style="">
			<%= link_to (image_tag p.image.url, { :height => 150, :crop => :fill }), p  %>
			<p><%= link_to p.name, p %></p>
			<% if p.state == "active" %>
				<p>Subasta activa</p>
			<% else %>
				<p>Subasta finalizada</p>
				<br>
			<% end %>
			<br>
		</div>
	<% end %>
<% else %>
	<h2>Usted no tiene subastas creadas.</h2>
<% end %>